{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}