{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'bower_components/css/style.css' %}">#}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block extra_stylesheets %}

    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>


{% block content %}


{% endblock %}



<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% block extra_scripts %}

{% endblock %}
</body>
</html>